/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width:1366px ;
}
/* 设置 面包屑导航栏 */
.el-breadcrumb{
   margin-bottom: 15px;
   font-size:12px;
}
/* 设置 卡片  */
.el-card{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
}
/* 设置表格 */
.el-table {
    margin-top: 15px;
}
/* 设置分页 */
.el-pagination{
    margin-top: 15px;
}
/*  解决级联选择器供选择的列表太长 */
.el-cascader-menu {
    height: 300px;
}
/* 更改MessageBox弹框的确定和取消位置 */
/* 设置取消按钮向右浮动，左magin为10px，即与确定按钮间距为10px */
.btn-custom-cancel {
    float: right ;
    margin-left: 10px ;
}
/* 设置步骤条 */
.el-steps{
    margin:15px 0;
}
/* 设置步骤条的每项 */
.el-step__title{
   font-size: 13px;
}
/* 设置引入的组件quill-editor富文本编辑器 */
.ql-editor{
    min-height: 300px;
}